
@media(max-width:700px){
	body{
		padding:16px;
	}
	#animateStu{
		height:82px;
	}
	.navbar-toggle{
		transform:scale(1.5,1.5);
		margin-top:6px;
	}
	.logoimg{
		width:100px;
		height:48px;
	}
	#menuText{
		display:none;
	}
	.project-title{
		font-size:40px;
	}
	.project-desc{
		font-size: 16px;
	}
	.misc-title{
		font-size:26px;
	}
	.misc-desc{
		font-size:16px;
	}




	.disap-if-small{
		display:none;
	}
	.center-if-small{
		display:block;
		margin:auto;
	}


}

